# SPDX-License-Identifier: Apache-2.0
# (c) 2026 Lutar, Stephen P. - SZL Holdings - ORCID 0009-0001-0110-4173
# Vendored SZL Kanchay export: served and published byte-for-byte against its
# SOURCE.json digests, so no checkout may convert line endings.
kanchay/** -text
